[bumpversion]
current_version = 1.4.2
commit = True
tag = True
tag_name = {new_version}
message = chore(release): bump version {current_version} -> {new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)
serialize = {major}.{minor}.{patch}

[bumpversion:file:VERSION]

[bumpversion:file:helm/wc2026/Chart.yaml]
search = appVersion: "{current_version}"
replace = appVersion: "{new_version}"
